
* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #333;
}

/*Side Nav Bar*/
.nav-main {
	width: 300px;
	height: 100%;
	position: absolute;
	overflow: auto;
	box-shadow: 6px 0px 5px -5px #888888;
}

.div-nav-logo {
	display:flex;
}

.a-nav-logo {
	width: 200px;
	margin: 28px auto 0;
}

.img-nav-logo {
	max-width: 100%;
}

.ul-nav-menu {
	margin:  32px 0px 75px;
	font-size: 18px;
	list-style-type: none;
	text-align: center;
}

.li-nav-menu {
}

.a-li-menu {
	color: inherit; 
	text-decoration: inherit;
	display: inline-block;
	width: 300px;
	padding: 7px 0;
}

.p-li-menu {
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.li-nav-menu:hover .p-li-menu {
	/*color of logo is #ff8c00*/
	color: orange; 
	border-bottom: 2px solid orange;
	transition: all 0.2s ease;
}

.li-nav-menu:hover > .ul-nav-submenu {
	visibility: visible;
}

.ul-nav-submenu {
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 0px 1px 0px #999;
	position: fixed;
	transform: translateY(-40px);
	left: 300px;
	z-index: 1;
	visibility: hidden;
}

.li-nav-submenu {
}

.a-nav-submenu {
	color: inherit; 
	text-decoration: inherit;
	display: inline-block;
	width: 150px;
	padding: 7px 5px; 
}

.p-li-submenu {
	display: inline-block;
	border-bottom: 2px solid transparent;	
}

.li-nav-submenu:hover .p-li-submenu {
	color: orange; 
	border-bottom: 2px solid orange;
	transition: all 0.2s ease;
}

/*Main Content*/
main {
	position: absolute;
	left: 300px;
	text-align: center;
	margin: 26px 120px;
}

.main-title {
	font-size: 44px;
}

.p-main { 
	font-size: 17px;
}