
* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #333;
}

/*Side Nav Bar*/
.nav-main {
	width: 300px;
	height: 100%;
	position: fixed;
	box-shadow: 6px 0px 5px -5px #888888;
}

/*Logo*/
.div-nav-logo {
	display:flex;
}

.a-nav-logo {
	width: 200px;
	margin: 28px auto 0;
}

.img-nav-logo {
	max-width: 100%;
}

/*Bottom*/
.div-btn {
	float: right;
	margin: 25px 30px;
	cursor: pointer;
	display: none;
}

.span-btn {
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	display: none;
}

/*Menu*/
.div-ul-menu {
	display: block;
	background-color: white;
	margin:  32px 0px 75px;
}

.ul-nav-menu {
	font-size: 18px;
	list-style-type: none;
	text-align: center;
}

.li-nav-menu {
}

.a-li-menu {
	color: inherit; 
	text-decoration: inherit;
	display: inline-block;
	width: 300px;
	padding: 7px 0;
}

.p-li-menu {
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.li-nav-menu:hover .p-li-menu {
	/*color of logo is #ff8c00*/
	color: orange; 
	border-bottom: 2px solid orange;
	transition: all 0.3s ease;
}

.ul-nav-submenu {
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 0px 1px 0px #999;
	position: absolute;
	transform: translateY(-40px);
	left: 300px;
	display: none;
}

.li-nav-submenu {
}

.a-li-submenu {
	color: inherit; 
	text-decoration: inherit;
	display: inline-block;
	width: 150px;
	padding: 7px 5px; 
}

.p-li-submenu {
	display: inline-block;
	border-bottom: 2px solid transparent;	
}

.div-a-sign {
	display: none;
}

.li-nav-submenu:hover .p-li-submenu {
	color: orange; 
	border-bottom: 2px solid orange;
	transition: all 0.3s ease;
}

/*Main Content*/
main {
	position: absolute;
	margin: auto;
	left: 300px;
	right: 0; 
	text-align: center;
	overflow: scroll;
	z-index: -1;
}

.main-header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/atx.jpg);
	background-size: cover;
	filter: grayscale(0.3);	
	height: 350px;
	display: flex;
	flex-wrap: wrap;
}

.main-title {
	font-size: 48px;
	padding: 20px 15px;
	color: white;
	margin: auto;
}

.main-content {
	font-size: 17px;
}

.section-main {
	max-width: 850px;
	padding: 45px 20px;
	margin: auto;
}

.h2-main {
	font-size: 26px;
	padding-bottom: 20px;
}

.line-main {
	width: 100%;               
	background-color:#dcdcdc;
	height: 2px;
}

.h3-main {
	font-size: 22px;
	padding-bottom: 40px;
}

.div-flex-sec {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.div-sec-img {
	width: 200px;
	padding: 20px;
}

.img-sec {
	width: 110px;
}

.div-sec-quote {
	width: 260px;
	font-size: 20px;
}

.img-person {
	width: 150px;
}


@media only screen and (max-width: 900px) {
	.nav-main {
		width: 100%;
		height: 75px;
		position: fixed;
		overflow: visible;
		box-shadow: none;
		border-bottom: 1px solid #ccc;
		background-color: white;
	}

	.div-btn {
		display: initial;
	}

	.span-btn {
		display: block;
	}

	.a-nav-logo {
		width: 70px;
		float: left;
		position: absolute;
		margin: 0 30px;
	}

	.div-ul-menu{
		position: absolute;	
		margin: 0;
		top: 75px;
		width: 100%;
		border-bottom: 1px solid #ccc;
		display: none;
	}

	.ul-nav-menu{
		margin: 0;
	}

	.a-li-menu {
		font-size: 16px;
		width: 100%;
		padding: 15px 38px;
		background-color: white;
		text-align: left;
	}

	.a-li-menu-sub {
		width: 80%;
	}

	.ul-nav-submenu {
		box-shadow: none;
		position: relative;
		transform: none;
		left: 0;
		width: 100%;
	}

	.div-a-sign {
		display: block;
		width: 20%;
		height: 100%;
		background-color: white;
		padding: 15px 0;
		float: right;
		cursor: pointer;
	}

	.a-li-submenu {
		font-size: 14px;
		width: 100%;
		padding: 15px 60px;
		text-align: left;
	}

	main {
		top: 75px;
		left: 0; 
		right: 0; 
	}
}

@media only screen and (max-width: 470px) {
	.nav-main {
		height: 60px;
	}

	.a-nav-logo {
		width: 55px;
	}

	.div-btn {
		margin: 17.5px 30px;
	}

	.div-ul-menu{
		top: 60px;
	}

	main {
		top: 60px;
	}

	.div-sec-quote {
		padding-bottom: 40px;
	}
}

